body {
    font-family: 'Lora', serif;
    background: white;
    position: relative;
    
}
  nav{
    top: 0;
    left:0;
    right:0;
    height: 70px;
    position:fixed;
    padding: 0 50 50 0;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    bottom: auto;
    
  }
  nav li {
    
    float: left;
    list-style:none;
    padding-top: 0px;
    
   } 
  nav li i{
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 30px;
    
  }
  nav li img{
    position: absolute;
    top: 0;
    left: 0;
  }
  .right{
    float: right;
  }
  .left{
    float: right;
  }
  .rightaln{
    text-align: right;
  }
  .leftaln{
    text-align: left;
  }
  
  a:link {
    color:rgb(106 124 148);
  }
  a:active {
    color:rgb(106 124 148);
  }
  a:visited {
    color:rgb(106 124 148);
  }
  a:hover {
    color:rgb(0,184,255);
  }
  .vert{
    vertical-align: baseline;
    text-align: center;
  }
  .omgfont{
    font-family: 'Lora', serif;
  }
  .spaced{
    top: 0;
    left:0;
    right:0;
    height: 70px;
    position:fixed;
  }
  .circleimg {
    
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    margin: 20px;
    height: auto;
    order: 1;
  
  }
  .responsiveFont{
    display: flex;
    font-size:22px;
    
    order: 2;
    text-align:center;
    max-height: 250px;
    
  }
  
  .container{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contentContainer{
    display:flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
  }
  .buttonContainer{
    display:flex;
    align-items: center;
    flex-direction: column;
  }
  .downloadbtn{
    padding: 10px 22px;
    cursor: pointer;
    border: 3px solid rgb(106 124 148);
    border-radius: 6px;
    color: white;
    cursor: pointer;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    transition: transform 0.2s ease;
    order: 3;
  }
  .btnTextColor{
    color:  rgb(106 124 148);
    font-weight: 500%;
  }
  .downloadbtn:active{
    transform: scale(0.96);
  }
  .spaceContainer{
    padding: 100px;
  }
  
  
  
  @media (max-width: 800px) {
    .contentContainer {
      flex-direction: column;
      max-width: 100%;
      padding-left: 0;
    }
    .buttonContainer{
      padding-left: 5px;
      flex-direction: column;
      
    }
    .skill-item{
      width: 1px;
    }
  }
  .backroundblue{
    background-color: rgb(106 124 148);
    box-shadow: 0 2px 4px 0 rgba(0,0,0, .6);
  }
  
  #wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    margin-top:100px;
    max-width: 960px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}
  
.b-skills
{
	text-align: center;
}

.skill-item
{
	max-width: 100%;
	width: 70px;
	color: black;
}

.chart-container
{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%;
	margin-bottom: 27px;
}

.skill-item .chart,
.skill-item .chart canvas
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.skill-item .chart:before
{
	content: "";
	width: 0;
	height: 100%;
}

.skill-item .chart:before,
.skill-item .percent
{
	display: inline-block;
	vertical-align: middle;
}

.skill-item .percent
{
	line-height: 1;
	font-size: 18px;
	font-weight: 900;
	z-index: 2;
}

.skill-item  .percent:after
{
	content: attr(data-after);
	font-size: 14px;
}
       
       p{
           font-weight: 900;
       }
 
    
