body {
    font-family: 'Lora', serif;
    background: white;
    position: relative;
    
}
  nav{
    top: 0;
    left:0;
    right:0;
    height: 70px;
    position:fixed;
    padding: 0 50 50 0;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    bottom: auto;
    
  }
  nav li {
    
    float: left;
    list-style:none;
    padding-top: 0px;
    
   } 
  nav li i{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 30px;
    
  }
  nav li img{
    position: absolute;
    top: 0;
    left: 0;
  }
  .right{
    float: right;
  }
  .left{
    float: right;
  }
  .rightaln{
    text-align: right;
  }
  .leftaln{
    text-align: left;
  }
  
  a:link {
    color:rgb(106 124 148);
  }
  a:active {
    color:rgb(106 124 148);
  }
  a:visited {
    color:rgb(106 124 148);
  }
  a:hover {
    color:rgb(0,184,255);
  }
  .vert{
    vertical-align: baseline;
    text-align: center;
  }
  .spaced{
    top: 0;
    left:0;
    right:0;
    height: 70px;
    position:fixed;
  }
  .circleimg {
    
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    margin: 20px;
    height: auto;
    order: 1;
  
  }
  .responsiveFont{
    display: flex;
    font-size:22px;
    
    order: 2;
    text-align:center;
    max-height: 250px;
    
  }
  
  .container{
    width: 100%;
  }
  .contentContainer{
    display:flex;
    vertical-align: middle;
    align-items: center;
    
  }
  .buttonContainer{
    display:flex;
    padding-left: 60px;
    align-items: center;
    padding-bottom: 50px;
  }
  .spaceContainer{
    padding: 100px;
  }
  
  .downloadbtn{
    font-size: 12px;
    order: 3;
  }
  
  @media (max-width: 800px) {
    .contentContainer {
      flex-direction: column;
      max-width: 100%;
      padding-left: 0;
    }
    .buttonContainer{
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .backroundblue{
    background-color: rgb(106 124 148);
    box-shadow: 0 2px 4px 0 rgba(0,0,0, .6);
  }
  
  #wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    margin-top:65px;
    max-width: 960px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}
